div img {
    vertical-align: middle;
}

.importGroup {
    margin-top: 8px;
    margin-bottom: 8px;
}

span {
    color: #0a84ff;
}

:disabled {
    opacity: 0.4;
}

.warningMsg,
.errorMsg {
    position: absolute;
    left: 0;
    top: 0;
}
