body {
    font-size: 150%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', San Francisco, Ubuntu, 'Fira Sans', Noto;
}
a {
    color: #ffffff;
    text-decoration: none;
}
#cssmenu #first {
    background: url("../icons/options/Preferences.svg") left no-repeat;
}
#cssmenu #second {
    background: url("../icons/options/tokens.svg") left no-repeat;
}
#cssmenu #third {
    background: url("../icons/options/sync.svg") left no-repeat;
}
#cssmenu #last {
    background: url("../icons/options/about.svg") left no-repeat;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'Segoe UI', San Francisco, Ubuntu, 'Fira Sans', Noto;
}
#cssmenu {
  width: 100%;
  height: 59px;
  padding-bottom: 4px;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#cssmenu #bg-one {
  height: 10px;
  background: rgba(12, 12, 13, 0.1)
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
}
#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: rgba(12, 12, 13, 0.1);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
}
#cssmenu ul {
  height: 59px;
  background-color: rgba(12, 12, 13, 0.1)
}
#cssmenu ul li {
  float: left;
  margin-right: 4px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  color: #0c0c0d;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: rgba(12, 12, 13, 0.1);
  background: linear-gradient(to bottom, #0060df 0%, #0060df 100%);
  height: inherit;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  color: #ffffff;
}
