body {
  padding-top: 4em;
}

.menu-btn {
  background: transparent;
  border: #d7d7db solid 1px
}

.menu-btn:hover {
  background: rgba(12, 12, 13, 0.1)
}

.menu-btn:active {
  background: rgba(12, 12, 13, 0.2)
}

.menu-btn:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

.top-bar {
  display: flex;
  font-size: 17px;
  border: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
}

.top-bar .imageLogo {
  vertical-align: middle;
}

.top-bar .logo-header {
  flex: 1;
  display: block;
  line-height: 60px;
  text-align: center;
  color: #0c0c0d;
  background-color: #ffffff;
}

.top-bar .logo-header .logo {
  padding: 0 1em;
}

.top-bar .logo-header button {
  display: none;
  height: 3em;
  align-self: center;
  margin: 0 1em;
}

.top-bar .actions {
  flex: 4;
  display: flex;
  overflow: hidden;
  transition: max-height .5s ease;
}

.top-bar .actions .action-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
}

.top-bar .actions .action-group .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.top-bar .actions .action-group .action {
  color: #0c0c0d;
}

.top-bar .actions .action-group.active,
.top-bar .actions .action-group:hover {
  background-color: #ededf0;
  border-radius: 4px;
}

.content {
  margin: 50px;
}

.content .checkbox-group .checkbox-label {
  display: flex;
  align-items: center;
}

.content .checkbox-group .checkbox-label .checkbox-icon {
  border-radius: 2px;
  display: block;
  min-width: 16px;
  min-height: 16px;
  margin: 3px 4px 3px 0;
  border: 1px solid rgba(12, 12, 13, 0.3);
  background-size: 16px 16px;
  background-color: rgba(12, 12, 13, 0.1);
}

.content .checkbox-group .checkbox-label .checkbox-icon:hover {
  background-color: rgba(12, 12, 13, 0.2);
}

.content .checkbox-group .checkbox-label .checkbox-icon.checked {
  background-image: url("../icons/options/checkbox-check-16.svg");
  background-color: #0060df;
}

.content .checkbox-group .checkbox-label .checkbox-text {
  font-size: 13px;
  color: #0c0c0d;
}

.content .checkbox-group input[type="checkbox"] {
  display: none;
}

.content .resetbtn {
  background-color: #0060df;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 8px 0px;
  padding: 0px 8px;
  width: auto;
  min-width: 132px;
  border: 0px;
  color: #ffffff;
}

.content .resetbtn:hover {
  background-color: #003eaa;
}

.content .resetbtn.active {
  background-color: #002275;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

@media (max-width: 768px){
  .top-bar .logo-header button {
      display: block;
  }
  .top-bar, .top-bar .actions {
      flex-direction: column;
  }
  .top-bar .actions .action-group {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .top-bar .logo-header {
    display: flex;
    justify-content: space-between;
  }
  .top-bar .actions {
    max-height: 0
  }
}