.top-bar {
  display: flex;
  font-size: 17px;
}

.top-bar .logo {
  flex: 1;
  display: block;
  line-height: 60px;
  text-align: center;
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
}

.top-bar .actions {
  flex: 4;
  display: flex;
}

.top-bar .actions .action-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 13, 0.1);
  height: 60px;
}

.top-bar .actions .action-group .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.top-bar .actions .action-group .action {
  color: #0c0c0d;
}

.top-bar .actions .action-group:hover {
  background-color: rgba(12, 12, 13, 0.2);
}

.top-bar .actions .action-group.active {
  background-color: #0060df;
}

.top-bar .actions .action-group.active .action {
  color: #fff;
}

.content {
  margin: 50px;
}

.content .checkbox-group .checkbox-label {
  display: flex;
  align-items: center;
}

.content .checkbox-group .checkbox-label .checkbox-icon {
  border-radius: 2px;
  display: block;
  min-width: 16px;
  min-height: 16px;
  margin: 3px 4px 3px 0;
  border: 1px solid rgba(12, 12, 13, 0.3);
  background-size: 16px 16px;
  background-color: rgba(12, 12, 13, 0.1);
}

.content .checkbox-group .checkbox-label .checkbox-icon:hover {
  background-color: rgba(12, 12, 13, 0.2);
}

.content .checkbox-group .checkbox-label .checkbox-icon.checked {
  background-image: url("../icons/options/checkbox-check-16.svg");
  background-color: #0060df;
}

.content .checkbox-group .checkbox-label .checkbox-text {
  font-size: 13px;
  color: #0c0c0d;
}

.content .checkbox-group input[type="checkbox"] {
  display: none;
}

.content .resetbtn {
  background-color: #0060df;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 8px 0px;
  padding: 0px 8px;
  width: auto;
  min-width: 132px;
  border: 0px;
  color: #ffffff;
}

.content .resetbtn:hover {
  background-color: #003eaa;
}

.content .resetbtn.active {
  background-color: #002275;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}