body {
  padding-top: 4em;
}

.menu-btn {
  background: transparent;
  border: #d7d7db solid 1px;
  border-radius: 2px;
  min-width: auto;
}

.menu-btn:hover {
  background: rgba(12, 12, 13, 0.1);
}

.menu-btn:active {
  background: rgba(12, 12, 13, 0.2);
}

.menu-btn:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.top-bar {
  display: flex;
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  z-index: 10;
}

.top-bar .imageLogo {
  vertical-align: middle;
}

.top-bar .logo-header {
  flex: 1;
  display: block;
  line-height: 60px;
  text-align: center;
  color: #0c0c0d;
  background-color: #ffffff;
}

.top-bar .logo-header .logo {
  padding: 0 1em;
}

.top-bar .logo-header button {
  display: none;
  height: 3em;
  align-self: center;
  margin: 0 1em;
}

.top-bar .actions {
  flex: 4;
  display: flex;
  overflow: hidden;
  transition: max-height .5s ease;
}

.top-bar .actions .action-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
}

.top-bar .actions .action-group .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.top-bar .actions .action-group .action {
  color: #0c0c0d;
}

.top-bar .actions .action-group.active {
  border-bottom-style: solid;
  border-bottom-color: #0060df;
  border-bottom-width: 2px;
}

.top-bar .actions .action-group:hover {
  background-color: #f9f9fa;
  border-bottom-style: solid;
  border-bottom-color: #f9f9fa;
  border-bottom-width: 2px;
}

.content {
  margin: 50px;
}

.content .checkbox-group+.checkbox-group {
  margin-top: 4px;
}

.content .checkbox-group .checkbox-label {
  display: flex;
  align-items: center;
}

.content .checkbox-group .checkbox-label .checkbox-icon {
  border-radius: 2px;
  display: block;
  min-width: 16px;
  min-height: 16px;
  margin: 3px 4px 3px 0;
  border: 1px solid rgba(12, 12, 13, 0.3);
  background-size: 16px 16px;
  background-color: rgba(12, 12, 13, 0.1);
}

.content .checkbox-group .checkbox-label .checkbox-icon:hover {
  background-color: rgba(12, 12, 13, 0.2);
}

.content .checkbox-group .checkbox-label .checkbox-icon.checked {
  background-image: url("../icons/options/checkbox-check-16.svg");
  background-color: #0060df;
}

.content .checkbox-group .checkbox-label .checkbox-text {
  font-size: 13px;
  color: #0c0c0d;
}

.content .checkbox-group input[type="checkbox"] {
  display: none;
}

.content .resetbtn {
  background-color: #0060df;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 8px 0px;
  padding: 0px 8px;
  width: auto;
  min-width: 132px;
  border: 0px;
  color: #ffffff;
}

.content .resetbtn:hover {
  background-color: #003eaa;
}

.content .resetbtn.active {
  background-color: #002275;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

@media (min-width: 768px) {
  .top-bar .actions {
    max-height: none !important;
  }
}

@media (max-width: 768px) {
  .top-bar .logo-header button {
    display: block;
  }

  .top-bar,
  .top-bar .actions {
    flex-direction: column;
  }

  .top-bar .actions .action-group {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .top-bar .logo-header {
    display: flex;
    justify-content: space-between;
  }

  .top-bar .actions {
    max-height: 0;
  }
}

.btnGroup {
  text-align: center;
  margin: 24px 8px;
}

.syncbtn,
.operatebtn {
  background-color: #ffffff;
  border-radius: 2px;
  height: auto;
  padding: 2px 8px;
  width: auto;
  min-width: 132px;
  border: 1px solid;
  margin: 8px 8px;
}

.syncBtnText,
.operateBtnText {
  color: #0c0c0d;
  vertical-align: middle;
}

.syncbtn:hover,
.operatebtn:hover {
  background-color: #ededf0;
}

.syncbtn:active,
.operatebtn:active {
  background-color: rgba(12, 12, 13, 0.3);
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.encryptPass {
  height: 32px;
  padding-left: 8px;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 2px;
  color: #0c0c0d;
  min-width: 250px;
}

#encryptForm, h3 {
  text-align: center;
  margin: 16px 0 -20px 0;
}

.caption {
  font-size: 11px;
  font-weight: 400;
  color: #0a84ff;
  flex-basis: 100%;
}

input {
  margin: 4px;
  height: 32px;
  padding-left: 8px;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 2px;
  color: #0c0c0d;
}

input:hover {
  border: 1px solid rgba(12, 12, 13, 0.5);
  border-radius: 2px;
}

input:focus {
  border: 1px solid #0a84ff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

button {
  background-color: #0060df;
  border-radius: 2px;
  border: 1px solid #0060df;
  margin: 4px 4px;
  height: 32px;
  padding: 0px 8px;
  width: auto;
  min-width: 132px;
}

button:hover {
  background-color: #003eaa;
}

button:active {
  background-color: #002275;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.btnText {
  text-align: center;
  color: #ffffff;
}

#specialCapt {
  color: red;
  font-size: 1.5em;
}

.ulPass {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4px;
}

#encryptForm {
  margin-bottom: 28px;
}

#encryptForm fieldset {
  margin-bottom: -28px;
}

.ulPass .checkbox-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

#tokenSearch {
  text-align: center;
}

input[type="search"] {
  width: 75%;
}

input::selection {
  background: #0a84ff;
}

.localOTP {
  width: 600px;
}

.checkbox-group input[type=checkbox] + label {
  font-size: 16px;
  color: #0c0c0d;
  position: relative;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.checkbox-group label::before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  margin-right: 8px;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(12, 12, 13, 0.3);
  background-size: 16px 16px;
  background-color: rgba(12, 12, 13, 0.1);
  transition: 100ms background;
}

.checkbox-group input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.checkbox-group input[type=checkbox]:enabled:hover + label::before {
  background-color: rgba(12, 12, 13, 0.2);
}

.checkbox-group input[type=checkbox]:enabled:checked + label::before {
  background-image: url("../icons/checkbox-check-16.svg");
  background-color: #0060df;
}

.checkbox-group input[type=checkbox]:disabled + label {
  opacity: 0.6;
  cursor: auto;
}

.checkbox-group input[type=checkbox]:disabled + label::before {
  opacity: 0.6;
}

.checkbox-group label::before {
  vertical-align: middle;
  margin: -3px 4px 0 0;
}

.genericMsg {
  background-color: #ededf0;
  color: #0c0c0d;
  min-height: 32px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  display: none;
  left: 2px;
  right: 2px;
  border-radius: 2px;
}

.warning-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: #0009;
  display: none;
}

.warningMsg {
  background-color: #ffe900;
  color: #3e2800;
  min-height: 32px;
  /* display: flex; */
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  display: none;
  left: 2px;
  right: 2px;
  border-radius: 2px;
  padding-right: 40px;
}

.warningMsgTxt, .genericMsgTxt {
  padding: 0 4px;
  line-height: 32px;
}
.warningMsgTxt {
  display: flex;
  flex-wrap: wrap;
}

.warningMsgBtn {
  padding-left: 8px;
  background-color: #d7b600;
  color: #3e2800;
  border: 0;
  cursor: pointer;
  margin-left: 0;
}

.warningMsgBtn:hover {
  background-color: #a47f00;
}

.warningMsgBtn:active {
  background-color: #715100;
  box-shadow: none;
}

.genericMsgTxt, .genericMsgCloseBtn, .genericIcon, .warningMsgTxt, .warningMsgCloseBtn, .warningIcon {
  vertical-align: middle;
}

.warningIcon, .genericIcon {
  padding-left: 4px;
  padding-right: 4px;
}
.warningIcon {
  height:32px;
  width: 32px;
  display: block;
  padding: 4px;
}

.warningMsgCloseBtn, .genericMsgCloseBtn {
  flex: 40px 0 0;
  padding: 4px;
  cursor: pointer;
}
.warningMsgCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.genericMsgCloseBtn:hover {
  background-color: #aeaeb2;
}

.genericMsgContent, .warningMsgContent {
  padding-right: 8px;
}

.warningMsgContent {
  padding: 7px 0;
  line-height: 1.5;
  margin-right: 4px;
}


/* Error message */
.errorMsg {
  background-color: #d70022;
  color: #fff;
  min-height: 32px;
  /* display: flex; */
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  display: none;
  left: 2px;
  right: 2px;
  border-radius: 2px;
  padding-right: 40px;
}
.errorMsgTxt, .genericMsgTxt {
  padding: 0 4px;
  line-height: 32px;
}
.errorMsgTxt {
  display: flex;
  flex-wrap: wrap;
}
.errorMsgBtn {
  padding-left: 8px;
  background-color: #a4000f;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-left: 0;
}
.errorMsgBtn:hover {
  background-color: #5a0002;
}
.errorMsgBtn:active {
  background-color: #3e0200;
  box-shadow: none;
}
.errorIcon {
  height: 24px;
  width: 24px;
  display: block;
  padding: 4px;
  margin: 4px 4px;
}
.errorMsgTxt, .errorMsgCloseBtn, .errorIcon {
  vertical-align: middle;
}
.errorMsgCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 4px;
  margin: 4px 4px;
}
.errorMsgContent {
  color: #fff;
  padding: 7px 0;
  line-height: 1.5;
  margin-right: 4px;
}

#translatorList {
  columns: 2;
}

summary {
  display: block;
  text-align: left;
  width: 75%;
  cursor: pointer;
  height: 12px;
}

hr {
  border: none;
  border-top: 3px double #0a84ff;
  overflow: visible;
  text-align: right;
}

hr:after {
  background: #fff;
  content:url(../icons/options/more\ options.svg);
  padding: 0 4px;
  position: relative;
  top: -13px;
}