*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: #f9f9fa;
}

form {
    margin: 4px 8px;
    max-width: 600px;
    display: inline-block;
}

fieldset {
    border: 0px;
}

img {
    margin: 4px 4px;
}

button {
    background-color: #0060df;
    border-radius: 2px;
    border: 1px solid #0060df;
    margin: 4px 4px;
    height: 32px;
    padding: 0px 8px;
    width: auto;
    min-width: 132px;
}

button:hover {
    background-color: #003eaa;
}

button:active {
    background-color: #002275;
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.btnText {
    text-align: center;
    color: #ffffff;
}

.otpNewBtn, .moreFormbtn, .deleteOTP {
    float: right;
}

.newIssuer, .newAccountName, .newSecretToken {
    margin: 4px 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.newOTPType, .newOTPPeriod {
    display: inline-flex;
    width: 50%;
    align-items: center;
}

input:invalid {
    border: 1px solid #ff0039;
}

input[type=text], input[type=password], input[type=number], select {
    margin: 4px;
    height: 32px;
    padding-left: 8px;
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 2px;
    color: #0c0c0d;
    flex-grow: 1;
}

input[type=text]:hover, input[type=password]:hover, input[type=number]:hover, select:hover {
    border: 1px solid rgba(12, 12, 13, 0.5);
    border-radius: 2px;
}

input[type=text]:active, input[type=password]:active, input[type=number]:active, select:active {
    border: 1px solid #0a84ff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type=text]:checked, input[type=password]:checked {
    color: #0a84ff;
}

.caption {
    font-size: 11px;
    font-weight: 400;
    color: #0a84ff;
    flex-basis: 100%;
}