.top-bar .actions .popup-group {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 132px;
}

.top-bar {
    white-space: nowrap;
}

.top-bar .actions {
    flex: 4;
    display: flex;
    overflow: hidden;
    transition: max-height .5s ease;
}

.top-bar .actions {
    max-height: none !important;
}

input {
    height: 32px;
    padding-left: 8px;
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 2px;
    color: #0c0c0d;
    width: 75%;
}

input:hover {
    border: 1px solid rgba(12, 12, 13, 0.5);
    border-radius: 2px;
}

input:active {
    border: 1px solid #0a84ff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

#popupSearch {
    text-align: center;
    margin-bottom: 4px;
}

input::selection {
    background: #0a84ff;
}

body.scanning::after {
    content: 'Scanning...';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-card.card {
    margin: 8px 0;
}


.popup-text {
    color: #737373;
    font-size: 13px;
}
.popup-header {
    margin: 8px;
    margin-bottom: 0;
}
.popup-header::after {
    content: ' ';
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.popup-content {
    margin: 8px;
}
.popup-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-row::after {
    content: ' ';
    display: block;
    clear: both;
}
.popup-row-item {
    line-height: 28px;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #2a2a2e;
    font-weight: 600;
    flex: 1 1 100px;
}
.popup-left {
    /* position: absolute; */
    /* left: 0;
    bottom: 0; */
    flex: 0 0 32px;
}
.popup-right {
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    flex: 0 0 32px;
}
.popup-icon {
    display: block;
    height: 32px;
    width: 32px;
    object-fit: contain;
}
