// https://design.firefox.com/photon/visuals/typography.html#scale

$display-20: 36px;

$title-40: 28px;
$title-30: 22px;
$title-20: 17px;
$title-10: 13px;

$body-30: 17px;
$body-20: 15px;
$body-10: 13px;

$caption-30: 15px;
$caption-20: 13px;
$caption-10: 11px;
